@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 selection:bg-brand-100 selection:text-brand-900;
  }
}

/* Custom styles and smooth scroll transitions */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for modern browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-200 hover:bg-slate-300;
}
